<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<div class="att-m2x-widget" data-widget-url="https://api-m2x.att.com/v2/widgets/84b2a6c5" data-m2x-key="6a752e73306abe149a8c3c0afc31f41d" width="400px"; height="400px"; style="position:absolute; left:100px; top:100px; "></div>
<div class="att-m2x-widget" data-widget-url="https://api-m2x.att.com/v2/widgets/aab9cdf8" data-m2x-key="35b21968dbb350c1e92da0c119495491" width="400px"; height="400px"; style="position:absolute; left:500px; top:100px; "></div>
<div class="att-m2x-widget" data-widget-url="https://api-m2x.att.com/v2/widgets/9dfdc878" data-m2x-key="d6d73fc22be8d0e0449c212291259a39" width="400px"; height="400px"; style="position:absolute; left:100px; top:600px; "></div>
<div class="att-m2x-widget" data-widget-url="https://api-m2x.att.com/v2/widgets/ed12a2f9" data-m2x-key="bf4537595edc093cf91ce1c2195599a9" width="400px"; height="400px"; style="position:absolute; left:500px; top:600px; "></div>



<h1 style="position:absolute; left:200px; top:50px; ">M!!!oisture Sensor #1 </h1>
<h1 style="position:absolute; left:600px; top:50px; ">Moisture Sensor #1</h1>
<h1 style="position:absolute; left:200px; top:500px; ">Moisture Sensor #1</h1>
<h1 style="position:absolute; left:600px; top:500px; ">Moisture Sensor #1</h1>






<!-- Include the following script tag only once per page -->
<script src="https://m2x.att.com/widgets.js" async></script>

</div>


<script>
document.getElementById("demo").innerHTML = "Hello JavaScript!";
</script>

</body>
</html>
