
<!--<script id="entry.html" type="text/ng-template">-->
  <!--<ion-view title="个人中心" class="bubble-background">-->
    <!--<ion-nav-bar type="bar-positive"-->
                 <!--back-button-type="button-icon"-->
                 <!--back-button-icon="ion-ios7-arrow-back"-->
                 <!--animation="nav-title-slide-ios7"-->
    <!--&gt;-->

    <!--</ion-nav-bar>-->
    <!--<ion-content has-header="true" padding="true">-->
      <!--<div class="list">-->
        <!--<label class="item item-input item-floating-label">-->
          <!--<span class="input-label">账号</span>-->
          <!--<input type="text" placeholder="账号">-->
        <!--</label>-->
        <!--<label class="item item-input item-floating-label">-->
          <!--<span class="input-label">密码</span>-->
          <!--<input type="text" placeholder="***">-->
        <!--</label>-->

      <!--</div>-->
      <!--&lt;!&ndash;ui-sref="main.tabs"&ndash;&gt;-->
      <!--<button class="button  button-block button-positive" ng-click="signIn()" >登录</button>-->
    <!--</ion-content>-->
  <!--</ion-view>-->
<!--</script>-->




<ion-view title="Welcome to GardenSpace">
  <ion-content has-header="true" padding="true" >
    <div class="list">




      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <input type="text"placeholder="Email Address">
        </label>
      </div>


      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <input type="password" placeholder="Password">
        </label>
      </div>




    </div>


    <!--<button class="button button-clear button-positive" ng-click="signIn()">Login in</button>-->

    <!--<a class="button icon ion-home" href="templates/tab-dash.html"> Login</a>-->
    <button class="button button-block button-positive" ng-click="signIn()">
      Sign-In
    </button>

    <a class="button icon ion-home" href="templates/register.html"> Register</a>

    <!--<button class="button button-clear button-positive" ng-click="test()">Sign in</button>-->
    <!--<img src="img/logo.png">-->





  </ion-content>
  </body>
</ion-view>




