<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>p1</title>


</head>

<!--<div class="http://52.65.30.143:9000/getdata" gardenspace_id= "1" user_user_id=" 1" ; style="position:absolute; left:100px; top:100px; "></div>-->
<div class="att-m2x-widget" data-widget-url="https://api-m2x.att.com/v2/widgets/84b2a6c5" data-m2x-key="6a752e73306abe149a8c3c0afc31f41d" ; ></div>

<script src="https://m2x.att.com/widgets.js" async></script>

<!--<button class="button button-block button-positive" ng-click="backDash()">-->
  <!--Back-->
<!--</button>-->


<!--<a class="item item-icon-left item-icon-right" href="templates/tabs.html">-->

  <!--Back-->

<!--</a>-->

<!--<script src="http://52.65.30.143:9000/getdata.js" async></script>-->

        <!--console.log("hello");-->
        <!--var data = {-->
          <!--"gardenspace_id": 1,-->
            <!--"user_user_id": 1-->
        <!--}-->
        <!--$http.post("http://52.65.30.143:9000/getdata",data).then(function success(response){-->
          <!--console.log(response.data);-->
        <!--}. function error(response) {-->
          <!--console.warn(response);-->
        <!--});-->


<body>



</body>
</html>
