<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>p3</title>

</head>
<body>
<div class="att-m2x-widget" data-widget-url="https://api-m2x.att.com/v2/widgets/9dfdc878" data-m2x-key="d6d73fc22be8d0e0449c212291259a39" ; ></div>

<!--<div class="att-m2x-widget" data-widget-url="https://api-m2x.att.com/v2/widgets/9dfdc878" data-m2x-key="d6d73fc22be8d0e0449c212291259a39" ; style="position:absolute; left:100px; top:600px; "></div>-->
<script src="https://m2x.att.com/widgets.js" async></script>

</body>
</html>



<!--<html ng-app="ionicApp">-->

<!--<head>-->
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">-->
  <!--<title>my Template</title>-->
  <!--<link rel="stylesheet" href="//code.ionicframework.com/nightly/css/ionic.css"></link>-->
<!--</head>-->

<!--<body ng-controller="MainCtrl">-->
<!--<ion-header-bar class="bar-dark">-->
  <!--<h1 class="title">Dashboard</h1>-->
<!--</ion-header-bar>-->


<!--<ion-pane class="pane-has-bg">-->

  <!--<ion-content class="pane-content">-->


    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<ion-list class="list item-dash">-->
          <!--<ion-item class="title dark">Impor</ion-item>-->
          <!--<ion-item class="content dark text-right item-icon-left">-->
            <!--<i class="icon ion-ios-person"></i>-->
            <!--<h1>{{stats.summary}}</h1>-->
            <!--<p>Customers</p>-->
          <!--</ion-item>-->
          <!--<ion-item class="graph dark"><svg id="fillgauge1" width="70" height="70"></svg></ion-item>-->
          <!--<ion-item class="footer"></ion-item>-->
        <!--</ion-list>-->
      <!--</div>-->

      <!--<div class="col">-->
        <!--<ion-list class="list item-dash">-->
          <!--<ion-item class="title dark">Unggah</ion-item>-->
          <!--<ion-item class="content dark text-right item-icon-left">-->
            <!--<i class="icon ion-ios-cloud-upload"></i>-->
            <!--<h1>{{stats.uploaded}}</h1>-->
            <!--<p>Dari 2345 Foto</p>-->
          <!--</ion-item>-->
          <!--<ion-item class="graph dark"><svg id="fillgauge2" width="70" height="70"></svg></ion-item>-->
          <!--<ion-item class="footer"></ion-item>-->
        <!--</ion-list>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<ion-list class="list item-dash">-->
          <!--<ion-item class="title orange">Stand Meter</ion-item>-->
          <!--<ion-item class="content orange text-right item-icon-left">-->
            <!--<i class="icon ion-ios-compose"></i>-->
            <!--<h1>{{stats.collected}}</h1>-->
            <!--<p>Telah Dipindai</p>-->
          <!--</ion-item>-->
          <!--<ion-item class="graph orange"><svg id="fillgauge5" width="75" height="75" </svg></ion-item>-->
          <!--<ion-item class="footer"></ion-item>-->
        <!--</ion-list>-->
      <!--</div>-->

      <!--<div class="col">-->
        <!--<ion-list class="list item-dash">-->
          <!--<ion-item class="title purple">Stand Meter</ion-item>-->
          <!--<ion-item class="content purple text-right item-icon-left">-->
            <!--<i class="icon ion-android-upload"></i>-->
            <!--<h1>{{stats.smuploaded}}</h1>-->
            <!--<p>Diunggah</p>-->
          <!--</ion-item>-->
          <!--<ion-item class="graph purple"><svg id="fillgauge6" width="75" height="75"></svg></ion-item>-->
          <!--<ion-item class="footer"></ion-item>-->
        <!--</ion-list>-->
      <!--</div>-->
    <!--</div>-->


  <!--</ion-content>-->


<!--</ion-pane>-->


<!--</body>-->

<!--</html>-->
