<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>p4</title>

</head>
<body>
<!--<div class="att-m2x-widget" data-widget-url="https://api-m2x.att.com/v2/widgets/ed12a2f9" data-m2x-key="bf4537595edc093cf91ce1c2195599a9" ; style="position:absolute; left:500px; top:600px; "></div>-->

<div class="att-m2x-widget" data-widget-url="https://api-m2x.att.com/v2/widgets/ed12a2f9" data-m2x-key="bf4537595edc093cf91ce1c2195599a9" ; ></div>
<script src="https://m2x.att.com/widgets.js" async></script>

</body>
</html>
