<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
<ion-view >
  <ion-content>
<div class="list">



  <div class="item-input-inset">
    <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
    </label>

  </div>



  <div class="item-input-inset">

    <label class="item item-input item-stacked-label">
      <span class="input-label">Last Name</span>
      <input type="text" placeholder="Last Name">
    </label>
  </div>




  <div class="item-input-inset">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="Email">
    </label>
  </div>





  <!--<label class="item item-input item-stacked-label">-->
    <!--<span class="input-label">First Name</span>-->
    <!--<input type="text" placeholder="First Name">-->
  <!--</label>-->

  <!--<label class="item item-input item-stacked-label">-->
    <!--<span class="input-label">Last Name</span>-->
    <!--<input type="text" placeholder="Last Name">-->
  <!--</label>-->

  <!--<label class="item item-input item-stacked-label">-->
    <!--<span class="input-label">Email</span>-->
    <!--<input type="text" placeholder="Email">-->
  <!--</label>-->
</div>


<button class="button button-clear button-positive">Create</button>


</ion-content>
</ion-view>

</body>
</html>
