<ion-view view-title="Garden">


  <ion-header-bar class="bar-dark" >
    <div id="search-bar">
      <div class="item item-input-inset">
        <label class="item-input-wrapper" id="search-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="query" ng-change="search()">
        </label>
      </div>
    </div>
  </ion-header-bar>



  <body>
  <fake-statusbar></fake-statusbar>
  <ion-pane>

    <ion-content header-shrink scroll-event-interval="5">
      <div style="height: 50px;"></div>





      <div class="list card">

        <div class="item item-avatar">
          <img src="img/me.jpg">

          <h2>What is GardenSpace? </h2>
          <p>01.10.2016</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="img/p1.jpg">
          <p>
            GardenSpace is an IoT startup that makes growing fruit and vegetables at home, easy.

            No matter how big or small your space is, we have the right GardenSpace for you.

            Make your space one that gives back.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>

      </div>




      <div class="list card">

        <div class="item item-avatar">
          <img src="img/p1.jpg">
          <h2>How to start my GardenSpace?</h2>
          <p>1.10.2016</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="img/CompressedHome1-1024x768.jpg">
          <h3>Step 1.  Get everything you need</h3>
          <p>



            We help you choose the right plants for your area and your space, ship them to you with the right soils, nutrients and our SmartGarden box.
            No know how needed.



          </p>
          <h3>Step 2. The fun part</h3>
          <p>

            Once your GardenSpace has arrived you get the fun part of planting your amazing garden in your SmartGarden box.

            Easy, fun and simple.
          </p>

          <h3>Step 3.    Your SmartGarden handles the rest</h3>
          <p>

            Your SmartGarden monitors your growing environment and will send you a notification when growing assistance is needed.

            Fresh produce management free.
          </p>

          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>

      </div>




    </ion-content>
  </ion-pane>

  </body>



</ion-view>


